/* HEADER SECTION */
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    color: #f5f5f5;
}

.lead {
    color: whitesmoke;
}

.form-group {
    border-radius: 30px;
}