<body>

    <div class="container" *ngIf="recipe">
        <div class="content">
            <h2 class="card-title"> {{ recipe.name }} </h2>
            <ul>
                <li class="card-text" *ngFor="let ingredient of recipe.ingredientLines"> {{ ingredient }} </li>
            </ul>
            <a href="#" class="btn btn-sm">Back</a>
            <button class="btn btn-sm" (click)="addRecipeToList(recipe)">Add to my list</button>
        </div>
        <div class="image">
            <img src="{{recipe.images[0].imageUrlsBySize[90]}}" alt="">
        </div>
    </div>
    
</body>
